/* -- VARIABLES --  */
/* Samler farger og spacing på ett sted */
:root {
  --primaryColor: rgb(244, 246, 246);
  --secondaryColor: rgba(5, 239, 184, 0.656);
  --darkColor: rgb(13, 13, 13);
  --lightColor: rgb(253, 253, 253);

  --spacingSmall: 8px;
  --spacingLarge: 16px;
}

/* -- GLOBAL -- */
* {
  margin: 0;
}

/* Sørger for at bilder aldri blir bredere enn containeren sin */
img {
  max-width: 100%;
}

.hidden {
  display: none;
}

/* -- HEADER -- */
/* Header bruker flex for å plassere logo og navigasjon på hver sin side */
header {
  display: flex;
  justify-content: space-between; /* Skyver innhold til hver sin kant */
  padding: var(--spacingLarge);
  border-bottom: 1px solid var(--primaryColor);
  box-shadow: 2px 2px 20px 2px var(--primaryColor);
  position: sticky; /* Gjør at headeren følger med ved scroll */
  top: 0;
  background-color: var(--lightColor); 
}

/* Logo har fast størrelse for konsistent layout */
.logo {
  height: 32px;
  width: 32px;
  background-color: var(--lightColor);
}

/* -- NAV -- */
/* Flex brukes for å legge navigasjonslenker horisontalt */
.navList {
  display: flex;
  gap: var(--spacingLarge); /* Avstand mellom lenker */
  list-style-type: none; 
  padding-inline-start: 0; 
}

/* -- MAIN -- */
/* Main bruker flex for å sentrere innhold både horisontalt og vertikalt */
main {
  min-height: 100svh; /* Full høyde av skjermen */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondaryColor);
}

/* Section er en fleksibel container for innhold */
.section {
  display: flex;
  flex-direction: column; /* Innhold stables vertikalt */
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacingSmall); /* Avstand mellom elementer */
  padding: var(--spacingSmall);

  background-color: var(--lightColor);
  border: 1px solid var(--primaryColor);
  box-shadow: 2px 2px 20px 2px var(--primaryColor);
}

/* -- FOOTER -- */
/* Footer bruker flex for å sentrere alt innhold */
.footer {
  display: flex;
  flex-direction: column; /* Innhold i kolonne */
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--primaryColor);
  box-shadow: 2px 2px 20px 2px var(--primaryColor);
  padding: var(--spacingLarge);
}

/* Kontaktinfo vises på én linje med litt luft mellom elementer */
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--darkColor);
}

/* -- MEDIA -- */
/* Tilpasser for ulike skjermstørrelser (tablet/mobil) */
@media (max-width: 769px) {
  .section {
    width: 300px; 
  }
}
